[run]
source =
    mdla
	 dict_metrics
omit =
    */python?.?/*
    */lib-python/?.?/*.py
    */lib_pypy/_*.py
    */site-packages/ordereddict.py
    */site-packages/nose/*
    */unittest2/*

disable_warnings =
    module-not-imported
    no-data-collected
