name: Test-and-Lint

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test-and-lint:
    name: test-py-${{ matrix.python_version }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        python_version: [3.6, 3.7, 3.8]

    steps:
      - uses: actions/checkout@v2
      - name: "Setup Python"
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python_version }}
      - uses: pre-commit/action@v2.0.0
      - name: "Install dependencies"
        shell: bash
        run: |
          python -m pip install --upgrade pip poetry wheel flake8 coverage
          poetry config virtualenvs.create false
          poetry install
      - name: "Check style"
        shell: bash
        run: |
          flake8
      - name: "Run tests"
        shell: bash
        run: |
          pytest --cov=./ --cov-report=xml
      - name: "Coverage"
        uses: codecov/codecov-action@v1
        with:
          files: ./coverage.xml
          flags: unittests
          name: codecov-umbrella
          verbose: true
